<div class="span3">
   <div class="well sidebar-nav">
      <ul class="nav nav-list">
      <li class="nav-header">Other Associations</li>
      <li><a href="http://www.uslacrossechapters.org/indiana/Home.aspx">Indiana USL Chapter</a></li>
      <li><a href="http://www.ihswla.com/">High School Girls (IHSWLA)</a></li>
      <li><a href="http://indianayouthlacrosse.org/">Boys and Girls Youth (IYLA)</a></li>
      <li><a href="http://www.InLaxRef.org/">Indiana Lacrosse Officials Association (ILOA)</a></li>
      <li class="nav-header">Help</li>
      <li><a href="Help.php">I want to play lacrosse</a></li>
      <li><a href="Help.php?action=coach">I want to coach lacrosse</a></li>
      <li><a href="http://www.inlaxref.org/training/">I want to officiate lacrosse</a></li>
      <li><a href="Help.php?action=start">I want to start a team</a></li>
      <li><a href="Help.php?action=donate">I want to donate</a></li>
      </ul>
   </div><!--/.well -->
   <div class="well">
     <p>Sponsers:</p>
     <a href="https://www.varsityviews.com/subscriptions">
       <img src="../images/site_images/VarstiyViews.PNG">
     </a>
   </div>
</div><!--/span-->
